body{
	height: 90vh;
	width: 100%;
	margin: 0;
	background-color: black;
	color: white;

}

#container {
	position: relative;
	height: 78vh;
	width: 90%;
	border: 2px solid grey;
	background-color: aliceblue;
	margin: auto;
	margin-top: 2%;
	overflow: hidden;
	background: url(../images/bg.gif);
	background-size: contain;
}

#fairy {
	position: absolute;;
	background-image: url("../images/fly.gif");
	height: 100px;
	width: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	top: 20%;
	left: 10%;
}

h1 {
	color: red;
	text-align: center;
	text-shadow: 2px 2px black;
	font-size: 3em;
}

.obstacle {
	position: absolute;
	height: 150px;
	width: 30px;
	background: url(../images/fire.gif);
	background-size: cover;
	/*border-radius: 50%;*/
	right: -100px;
	overflow: hidden;
}

#obstacle1 {
	top: 0;
	border-radius: 0 0 10% 10%;
	/*transform-translate: -50px -50px;*/
}

#obstacle2 {
	bottom: 0;
	border-radius: 10% 10% 0 0;
}

#scoreboard {
	/*position: relative;*/
	text-align: center;
	font-size: 40px;
}

#restart {
	position: absolute;
	top: 0;
	width: 98%;
	padding: 20px;
	background-color: black;
	/*opacity: 0.8;*/
	color: white;
	font-size: 35px;
	cursor: pointer;
	display: none;
	box-shadow: 5px 10px green;
	
}

.hazel {
	font-size: 2em;
	color: yellow;
	margin-left: 80px;
}


p {
	font-size: .5em;
}

h2{ 
	font-size: 0.8em;
}

#rules {
	border: 2px solid red;
	margin: 0px 200px;
}